@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans
    -serif;
    transition: all 0.2s linear;
    border: none;
    outline: none;
}
body{
    background-color: black;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5) ;
    /* background-color: green; */
}

.container .counter{
    background-color: rgb(172, 168, 168);
    padding: 2.5rem;
    border-radius: 1rem;
    /* box-shadow: rgba(123, 123, 128, 0.2) 0px 7px 29px 0px; */
}

.container .counter p{
    text-align: center;
    font-size: 8rem;
    font-weight: 300;
    line-height: 1;
}

.container .buttons{
    text-align: center;
    margin-top: 2rem;
    box-shadow: 30rem;
}

.container .buttons button{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.container .buttons button#sub{
    background-color: red;
    color: white;
    font-size: 23px;
    font-weight: 700;
}
.container .buttons button#reset{
    font-size: 20px;
    font-weight: 200;
    font-style: italic ;
}
.container .buttons button#add{
    background-color: green;
    color: white;
    font-size: 23px;
}


























